*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea/
*.hprof

# Gradle wrapper jar (di-generate otomatis oleh CI, gak perlu di-commit)
gradle/wrapper/gradle-wrapper.jar
